In [74]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, accuracy_score

In [75]:
# 1. Data load
bank_fraud_df = pd.read_csv("Bank_transaction_fraud_detection.csv")

In [76]:
bank_fraud_df

,Customer_ID,Customer_Name,Gender,Age,State,City,Bank_Branch,Account_Type,Transaction_ID,Transaction_Date,...,Merchant_Category,Account_Balance,Transaction_Device,Transaction_Location,Device_Type,Is_Fraud,Transaction_Currency,Customer_Contact,Transaction_Description,Customer_Email
0,d5f6ec07-d69e-4f47-b9b4-7c58ff17c19e,Osha Tella,Male,60,Kerala,Thiruvananthapuram,Thiruvananthapuram Branch,Savings,4fa3208f-9e23-42dc-b330-844829d0c12c,23-01-2025,...,Restaurant,74557.27,Voice Assistant,"Thiruvananthapuram, Kerala",POS,0,INR,+9198579XXXXXX,Bitcoin transaction,oshaXXXXX@XXXXX.com
1,7c14ad51-781a-4db9-b7bd-67439c175262,Hredhaan Khosla,Female,51,Maharashtra,Nashik,Nashik Branch,Business,c9de0c06-2c4c-40a9-97ed-3c7b8f97c79c,11/1/2025,...,Restaurant,74622.66,POS Mobile Device,"Nashik, Maharashtra",Desktop,0,INR,+9191074XXXXXX,Grocery delivery,hredhaanXXXX@XXXXXX.com
2,3a73a0e5-d4da-45aa-85f3-528413900a35,Ekani Nazareth,Male,20,Bihar,Bhagalpur,Bhagalpur Branch,Savings,e41c55f9-c016-4ff3-872b-cae72467c75c,25-01-2025,...,Groceries,66817.99,ATM,"Bhagalpur, Bihar",Desktop,0,INR,+9197745XXXXXX,Mutual fund investment,ekaniXXX@XXXXXX.com
3,7902f4ef-9050-4a79-857d-9c2ea3181940,Yamini Ramachandran,Female,57,Tamil Nadu,Chennai,Chennai Branch,Business,7f7ee11b-ff2c-45a3-802a-49bc47c02ecb,19-01-2025,...,Entertainment,58177.08,POS Mobile App,"Chennai, Tamil Nadu",Mobile,0,INR,+9195889XXXXXX,Food delivery,yaminiXXXXX@XXXXXXX.com
4,3a4bba70-d9a9-4c5f-8b92-1735fd8c19e9,Kritika Rege,Female,43,Punjab,Amritsar,Amritsar Branch,Savings,f8e6ac6f-81a1-4985-bf12-f60967d852ef,30-01-2025,...,Entertainment,16108.56,Virtual Card,"Amritsar, Punjab",Mobile,0,INR,+9195316XXXXXX,Debt repayment,kritikaXXXX@XXXXXX.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156342,f596668a-39e9-4f58-bc33-1c97f54ae343,Ansh Agrawal,Female,52,Arunachal Pradesh,Itanagar,Itanagar Branch,Savings,abaf2883-2ab2-4360-93ae-6eebb9a5ba37,17-01-2025,...,Health,48152.65,ATM Booth Kiosk,"Itanagar, Arunachal Pradesh",ATM,0,INR,+9199893XXXXXX,Moving services payment,anshXXXX@XXXXXXX.com
156343,07513777-8e89-4abc-b561-5ed3331a8f4a,Suhani Bhasin,Female,64,Delhi,South Delhi,South Delhi Branch,Business,e520daaa-2d08-4939-a9d5-df67512ad4a9,12/1/2025,...,Clothing,69956.08,POS Mobile App,"South Delhi, Delhi",Desktop,0,INR,+9191151XXXXXX,Bitcoin transaction,suhaniXXXX@XXXXX.com
156344,dfdd6356-5c6e-4eb6-b6a6-9365c9ee5399,Karan Dass,Female,34,Lakshadweep,Kavaratti,Kavaratti Branch,Checking,035ef4d9-f670-4c9c-954c-38e023661a13,7/1/2025,...,Entertainment,62197.09,Voice Assistant,"Kavaratti, Lakshadweep",Desktop,0,INR,+9199760XXXXXX,Medical treatment payment,karanXXXX@XXXXX.com
156345,953268d2-f0ec-41be-9b5e-5cd38032c0a4,Dev Sarma,Male,20,Puducherry,Mahe,Mahe Branch,Savings,7568fb14-76c3-46a8-9dfd-192ad6e29046,9/1/2025,...,Clothing,27862.23,POS Mobile App,"Mahe, Puducherry",Mobile,0,INR,+9195478XXXXXX,Gift card purchase,devXXXXX@XXXXX.com
156346,a3fb9e99-4044-475e-9bf8-345d9ad35a6d,Faqid Bahl,Female,61,Kerala,Trichur,Trichur Branch,Checking,feb12adc-ddd6-4fff-95ca-6899981c3375,22-01-2025,...,Clothing,14558.96,Debit/Credit Card,"Trichur, Kerala",ATM,0,INR,+9196357XXXXXX,Installment payment,NaN

In [77]:
bank_fraud_df=bank_fraud_df.drop(['Customer_ID','Customer_Name','Gender','Bank_Branch','Account_Type','Transaction_ID','Transaction_Date','Transaction_Time','Merchant_ID','Transaction_Device','Transaction_Location','Transaction_Currency','Customer_Contact','Transaction_Description','Customer_Email','State','City'],axis=1)

In [78]:
bank_fraud_df

,Age,Transaction_Amount,Transaction_Type,Merchant_Category,Account_Balance,Device_Type,Is_Fraud
0,60,32415.45,Transfer,Restaurant,74557.27,POS,0
1,51,43622.60,Bill Payment,Restaurant,74622.66,Desktop,0
2,20,63062.56,Bill Payment,Groceries,66817.99,Desktop,0
3,57,14000.72,Debit,Entertainment,58177.08,Mobile,0
4,43,18335.16,Transfer,Entertainment,16108.56,Mobile,0
...,...,...,...,...,...,...,...
156342,52,37516.15,Withdrawal,Health,48152.65,ATM,0
156343,64,95918.21,Transfer,Clothing,69956.08,Desktop,0
156344,34,98086.22,Transfer,Entertainment,62197.09,Desktop,0
156345,20,81193.94,Bill Payment,Clothing,27862.23,Mobile,0
156346,61,93675.75,Credit,Clothing,14558.96,ATM,0

In [79]:
bank_fraud_df=pd.get_dummies(bank_fraud_df,drop_first=True)

In [80]:
bank_fraud_df

,Age,Transaction_Amount,Account_Balance,Is_Fraud,Transaction_Type_Credit,Transaction_Type_Debit,Transaction_Type_Transfer,Transaction_Type_Withdrawal,Merchant_Category_Electronics,Merchant_Category_Entertainment,Merchant_Category_Groceries,Merchant_Category_Health,Merchant_Category_Restaurant,Device_Type_Desktop,Device_Type_Mobile,Device_Type_POS
0,60,32415.45,74557.27,0,0,0,1,0,0,0,0,0,1,0,0,1
1,51,43622.60,74622.66,0,0,0,0,0,0,0,0,0,1,1,0,0
2,20,63062.56,66817.99,0,0,0,0,0,0,0,1,0,0,1,0,0
3,57,14000.72,58177.08,0,0,1,0,0,0,1,0,0,0,0,1,0
4,43,18335.16,16108.56,0,0,0,1,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156342,52,37516.15,48152.65,0,0,0,0,1,0,0,0,1,0,0,0,0
156343,64,95918.21,69956.08,0,0,0,1,0,0,0,0,0,0,1,0,0
156344,34,98086.22,62197.09,0,0,0,1,0,0,1,0,0,0,1,0,0
156345,20,81193.94,27862.23,0,0,0,0,0,0,0,0,0,0,0,1,0
156346,61,93675.75,14558.96,0,1,0,0,0,0,0,0,0,0,0,0,0

In [81]:
## Count of records  with Is fraud
## Count shows  the dataset is imbalancced
bank_fraud_df["Is_Fraud"].value_counts()

0    148436
1      7911
Name: Is_Fraud, dtype: int64

In [82]:
bank_fraud_df.columns

Index(['Age', 'Transaction_Amount', 'Account_Balance', 'Is_Fraud',
       'Transaction_Type_Credit', 'Transaction_Type_Debit',
       'Transaction_Type_Transfer', 'Transaction_Type_Withdrawal',
       'Merchant_Category_Electronics', 'Merchant_Category_Entertainment',
       'Merchant_Category_Groceries', 'Merchant_Category_Health',
       'Merchant_Category_Restaurant', 'Device_Type_Desktop',
       'Device_Type_Mobile', 'Device_Type_POS'],
      dtype='object')

In [83]:
independent = bank_fraud_df[['Age', 'Transaction_Amount', 'Account_Balance',
       'Transaction_Type_Credit', 'Transaction_Type_Debit',
       'Transaction_Type_Transfer', 'Transaction_Type_Withdrawal',
       'Merchant_Category_Electronics', 'Merchant_Category_Entertainment',
       'Merchant_Category_Groceries', 'Merchant_Category_Health',
       'Merchant_Category_Restaurant', 'Device_Type_Desktop',
       'Device_Type_Mobile', 'Device_Type_POS']]

In [84]:
dependent = bank_fraud_df['Is_Fraud']

In [85]:
#Train–test split (stratify for imbalance)
X_train, X_test, y_train, y_test = train_test_split(
    independent,
    dependent,
    test_size=0.30,
    random_state=0,
    stratify=dependent
)

## Random Forest

In [86]:
from sklearn.ensemble import RandomForestClassifier
RF_classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
RF_classifier.fit(X_train, y_train)

C:\Users\PADDY\anaconda3\envs\aiml\lib\site-packages\sklearn\utils\fixes.py:230: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  if _joblib.__version__ >= LooseVersion('0.12'):

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [87]:
y_pred = RF_classifier.predict(X_test)

C:\Users\PADDY\anaconda3\envs\aiml\lib\site-packages\sklearn\utils\fixes.py:230: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  if _joblib.__version__ >= LooseVersion('0.12'):

In [88]:
from sklearn.metrics import confusion_matrix
rf_cm = confusion_matrix(y_test, y_pred)

In [89]:
from sklearn.metrics import classification_report
rf_clf_report = classification_report(y_test, y_pred)

In [90]:
print(rf_clf_report)

              precision    recall  f1-score   support

           0       0.95      1.00      0.97     44532
           1       0.04      0.00      0.00      2373

    accuracy                           0.95     46905
   macro avg       0.50      0.50      0.49     46905
weighted avg       0.90      0.95      0.92     46905

In [91]:
print(rf_cm)

[[44468    64]
 [ 2370     3]]

## Decision Tree

In [92]:
from sklearn.tree import DecisionTreeClassifier
DT_classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
DT_classifier.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=0, splitter='best')

In [93]:
y_pred = DT_classifier.predict(X_test)

In [94]:
from sklearn.metrics import confusion_matrix
dt_cm = confusion_matrix(y_test, y_pred)

In [95]:
from sklearn.metrics import classification_report
dt_clf_report = classification_report(y_test, y_pred)

In [96]:
print(dt_clf_report)

              precision    recall  f1-score   support

           0       0.95      0.94      0.95     44532
           1       0.05      0.06      0.05      2373

    accuracy                           0.90     46905
   macro avg       0.50      0.50      0.50     46905
weighted avg       0.90      0.90      0.90     46905

In [97]:
print(dt_cm)

[[41906  2626]
 [ 2233   140]]

# Logistic Regression

In [98]:
from sklearn.linear_model import LogisticRegression
LR_classifier = LogisticRegression(class_weight = 'balanced')
LR_classifier.fit(X_train, y_train)

C:\Users\PADDY\anaconda3\envs\aiml\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight='balanced', dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=100, multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [99]:
y_pred = LR_classifier.predict(X_test)

In [100]:
from sklearn.metrics import confusion_matrix
lr_cm = confusion_matrix(y_test, y_pred)

In [101]:
from sklearn.metrics import classification_report
lr_clf_report = classification_report(y_test, y_pred)

In [102]:
print(lr_clf_report)

              precision    recall  f1-score   support

           0       0.95      0.52      0.67     44532
           1       0.05      0.47      0.09      2373

    accuracy                           0.52     46905
   macro avg       0.50      0.49      0.38     46905
weighted avg       0.90      0.52      0.64     46905

In [103]:
print(lr_cm)

[[23241 21291]
 [ 1266  1107]]