In [185]:
import pandas as pd

In [186]:
bank_fraud_df=pd.read_csv("Bank_transaction_fraud_detection.csv")

In [187]:
bank_fraud_df

,Customer_ID,Customer_Name,Gender,Age,State,City,Bank_Branch,Account_Type,Transaction_ID,Transaction_Date,...,Merchant_Category,Account_Balance,Transaction_Device,Transaction_Location,Device_Type,Is_Fraud,Transaction_Currency,Customer_Contact,Transaction_Description,Customer_Email
0,d5f6ec07-d69e-4f47-b9b4-7c58ff17c19e,Osha Tella,Male,60,Kerala,Thiruvananthapuram,Thiruvananthapuram Branch,Savings,4fa3208f-9e23-42dc-b330-844829d0c12c,23-01-2025,...,Restaurant,74557.27,Voice Assistant,"Thiruvananthapuram, Kerala",POS,0,INR,+9198579XXXXXX,Bitcoin transaction,oshaXXXXX@XXXXX.com
1,7c14ad51-781a-4db9-b7bd-67439c175262,Hredhaan Khosla,Female,51,Maharashtra,Nashik,Nashik Branch,Business,c9de0c06-2c4c-40a9-97ed-3c7b8f97c79c,11/1/2025,...,Restaurant,74622.66,POS Mobile Device,"Nashik, Maharashtra",Desktop,0,INR,+9191074XXXXXX,Grocery delivery,hredhaanXXXX@XXXXXX.com
2,3a73a0e5-d4da-45aa-85f3-528413900a35,Ekani Nazareth,Male,20,Bihar,Bhagalpur,Bhagalpur Branch,Savings,e41c55f9-c016-4ff3-872b-cae72467c75c,25-01-2025,...,Groceries,66817.99,ATM,"Bhagalpur, Bihar",Desktop,0,INR,+9197745XXXXXX,Mutual fund investment,ekaniXXX@XXXXXX.com
3,7902f4ef-9050-4a79-857d-9c2ea3181940,Yamini Ramachandran,Female,57,Tamil Nadu,Chennai,Chennai Branch,Business,7f7ee11b-ff2c-45a3-802a-49bc47c02ecb,19-01-2025,...,Entertainment,58177.08,POS Mobile App,"Chennai, Tamil Nadu",Mobile,0,INR,+9195889XXXXXX,Food delivery,yaminiXXXXX@XXXXXXX.com
4,3a4bba70-d9a9-4c5f-8b92-1735fd8c19e9,Kritika Rege,Female,43,Punjab,Amritsar,Amritsar Branch,Savings,f8e6ac6f-81a1-4985-bf12-f60967d852ef,30-01-2025,...,Entertainment,16108.56,Virtual Card,"Amritsar, Punjab",Mobile,0,INR,+9195316XXXXXX,Debt repayment,kritikaXXXX@XXXXXX.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156342,f596668a-39e9-4f58-bc33-1c97f54ae343,Ansh Agrawal,Female,52,Arunachal Pradesh,Itanagar,Itanagar Branch,Savings,abaf2883-2ab2-4360-93ae-6eebb9a5ba37,17-01-2025,...,Health,48152.65,ATM Booth Kiosk,"Itanagar, Arunachal Pradesh",ATM,0,INR,+9199893XXXXXX,Moving services payment,anshXXXX@XXXXXXX.com
156343,07513777-8e89-4abc-b561-5ed3331a8f4a,Suhani Bhasin,Female,64,Delhi,South Delhi,South Delhi Branch,Business,e520daaa-2d08-4939-a9d5-df67512ad4a9,12/1/2025,...,Clothing,69956.08,POS Mobile App,"South Delhi, Delhi",Desktop,0,INR,+9191151XXXXXX,Bitcoin transaction,suhaniXXXX@XXXXX.com
156344,dfdd6356-5c6e-4eb6-b6a6-9365c9ee5399,Karan Dass,Female,34,Lakshadweep,Kavaratti,Kavaratti Branch,Checking,035ef4d9-f670-4c9c-954c-38e023661a13,7/1/2025,...,Entertainment,62197.09,Voice Assistant,"Kavaratti, Lakshadweep",Desktop,0,INR,+9199760XXXXXX,Medical treatment payment,karanXXXX@XXXXX.com
156345,953268d2-f0ec-41be-9b5e-5cd38032c0a4,Dev Sarma,Male,20,Puducherry,Mahe,Mahe Branch,Savings,7568fb14-76c3-46a8-9dfd-192ad6e29046,9/1/2025,...,Clothing,27862.23,POS Mobile App,"Mahe, Puducherry",Mobile,0,INR,+9195478XXXXXX,Gift card purchase,devXXXXX@XXXXX.com
156346,a3fb9e99-4044-475e-9bf8-345d9ad35a6d,Faqid Bahl,Female,61,Kerala,Trichur,Trichur Branch,Checking,feb12adc-ddd6-4fff-95ca-6899981c3375,22-01-2025,...,Clothing,14558.96,Debit/Credit Card,"Trichur, Kerala",ATM,0,INR,+9196357XXXXXX,Installment payment,NaN

In [188]:
bank_fraud_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156347 entries, 0 to 156346
Data columns (total 24 columns):
Customer_ID                156347 non-null object
Customer_Name              156347 non-null object
Gender                     156347 non-null object
Age                        156347 non-null int64
State                      156347 non-null object
City                       156347 non-null object
Bank_Branch                156347 non-null object
Account_Type               156347 non-null object
Transaction_ID             156347 non-null object
Transaction_Date           156347 non-null object
Transaction_Time           156347 non-null object
Transaction_Amount         156347 non-null float64
Merchant_ID                156347 non-null object
Transaction_Type           156347 non-null object
Merchant_Category          156347 non-null object
Account_Balance            156347 non-null float64
Transaction_Device         156347 non-null object
Transaction_Location       156347 non-null object
Device_Type                156347 non-null object
Is_Fraud                   156347 non-null int64
Transaction_Currency       156347 non-null object
Customer_Contact           156347 non-null object
Transaction_Description    156347 non-null object
Customer_Email             156346 non-null object
dtypes: float64(2), int64(2), object(20)
memory usage: 28.6+ MB

In [189]:
bank_fraud_df.isnull().sum()

Customer_ID                0
Customer_Name              0
Gender                     0
Age                        0
State                      0
City                       0
Bank_Branch                0
Account_Type               0
Transaction_ID             0
Transaction_Date           0
Transaction_Time           0
Transaction_Amount         0
Merchant_ID                0
Transaction_Type           0
Merchant_Category          0
Account_Balance            0
Transaction_Device         0
Transaction_Location       0
Device_Type                0
Is_Fraud                   0
Transaction_Currency       0
Customer_Contact           0
Transaction_Description    0
Customer_Email             1
dtype: int64

In [173]:
bank_fraud_df.isna().sum()

Customer_ID                0
Customer_Name              0
Gender                     0
Age                        0
State                      0
City                       0
Bank_Branch                0
Account_Type               0
Transaction_ID             0
Transaction_Date           0
Transaction_Time           0
Transaction_Amount         0
Merchant_ID                0
Transaction_Type           0
Merchant_Category          0
Account_Balance            0
Transaction_Device         0
Transaction_Location       0
Device_Type                0
Is_Fraud                   0
Transaction_Currency       0
Customer_Contact           0
Transaction_Description    0
Customer_Email             1
dtype: int64

In [175]:
customer_email_df = bank_fraud_df[bank_fraud_df['Customer_Email'].isna()]

In [176]:
customer_email_df

,Customer_ID,Customer_Name,Gender,Age,State,City,Bank_Branch,Account_Type,Transaction_ID,Transaction_Date,...,Merchant_Category,Account_Balance,Transaction_Device,Transaction_Location,Device_Type,Is_Fraud,Transaction_Currency,Customer_Contact,Transaction_Description,Customer_Email
156346,a3fb9e99-4044-475e-9bf8-345d9ad35a6d,Faqid Bahl,Female,61,Kerala,Trichur,Trichur Branch,Checking,feb12adc-ddd6-4fff-95ca-6899981c3375,22-01-2025,...,Clothing,14558.96,Debit/Credit Card,"Trichur, Kerala",ATM,0,INR,+9196357XXXXXX,Installment payment,NaN

In [190]:
bank_fraud_df.describe()

                 Age  Transaction_Amount  Account_Balance       Is_Fraud
count  156347.000000       156347.000000    156347.000000  156347.000000
mean       43.988052        49552.305724     52475.705056       0.050599
std        15.283394        28522.440378     27394.950127       0.219178
min        18.000000           10.290000      5000.820000       0.000000
25%        31.000000        24925.240000     28769.380000       0.000000
50%        44.000000        49479.300000     52416.660000       0.000000
75%        57.000000        74248.945000     76207.515000       0.000000
max        70.000000        98999.980000     99999.950000       1.000000

In [178]:
fraud_df=bank_fraud_df[bank_fraud_df['Is_Fraud']== 1]

In [179]:
fraud_df

,Customer_ID,Customer_Name,Gender,Age,State,City,Bank_Branch,Account_Type,Transaction_ID,Transaction_Date,...,Merchant_Category,Account_Balance,Transaction_Device,Transaction_Location,Device_Type,Is_Fraud,Transaction_Currency,Customer_Contact,Transaction_Description,Customer_Email
17,99d95f63-a2fa-4707-b577-f4a008e6700e,Theodore Suri,Male,56,Dadra and Nagar Haveli and Daman and Diu,Silvassa,Silvassa Branch,Business,aa3832eb-c0f0-48b1-b195-a376a1e17797,24-01-2025,...,Restaurant,74322.85,Biometric Scanner,"Silvassa, Dadra and Nagar Haveli and Daman and...",Desktop,1,INR,+9194951XXXXXX,Gift for colleague,theodoreXXX@XXXXX.com
29,54fb2e67-b087-4522-a5c4-af69f95cd9df,Jalsa Menon,Male,24,Chhattisgarh,Durg,Durg Branch,Savings,b33c79ab-4d81-4d12-baf3-2b13cf67608a,28-01-2025,...,Electronics,60905.65,ATM Booth Kiosk,"Durg, Chhattisgarh",POS,1,INR,+9195352XXXXXX,Mobile phone payment,jalsaXXX@XXXXXXX.com
32,ad5f8799-179f-4b1d-887c-cace22837d3e,Ishanvi Kant,Female,39,Uttar Pradesh,Varanasi,Varanasi Branch,Business,0d970d8f-dd99-401b-a7ba-83a276a7cf49,19-01-2025,...,Groceries,88389.09,QR Code Scanner,"Varanasi, Uttar Pradesh",Mobile,1,INR,+9199750XXXXXX,Property tax payment,ishanviXXXXX@XXXXX.com
54,6e9eaae0-ed2c-40b7-af0c-14e02647a39c,Peter Dhawan,Female,52,Manipur,Imphal,Imphal Branch,Checking,402d686c-e7b1-4857-b8b0-b6c384b56611,10/1/2025,...,Restaurant,56382.68,Wearable Device,"Imphal, Manipur",POS,1,INR,+9191682XXXXXX,Grocery delivery,peterXXXXX@XXXXXX.com
76,f7d6bcdb-2c7e-4456-9cbc-1516a9186b55,Gopal Ratta,Male,28,Haryana,Gurugram,Gurugram Branch,Savings,f2f00aa5-0896-4cc1-bb52-0f7822b1e741,23-01-2025,...,Groceries,75460.68,ATM,"Gurugram, Haryana",Mobile,1,INR,+9198024XXXXXX,Bank transfer,gopalXXXX@XXXXXXX.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156291,fe96c34e-1ca4-4ce2-8634-3751308765ba,Darpan Vohra,Male,35,Jharkhand,Jamshedpur,Jamshedpur Branch,Savings,dc562f41-aadc-441a-bb2d-cfaac01ef7aa,1/1/2025,...,Electronics,11968.56,Self-service Banking Machine,"Jamshedpur, Jharkhand",POS,1,INR,+9197986XXXXXX,Loan payment,darpanXXX@XXXXX.com
156294,1ba22349-7bf7-45d5-80f5-70f61739ef93,Mahika Shetty,Female,57,Jharkhand,Bokaro,Bokaro Branch,Checking,cb157ef6-7923-4253-9622-fa4e87420016,19-01-2025,...,Electronics,73353.10,Biometric Scanner,"Bokaro, Jharkhand",ATM,1,INR,+9196856XXXXXX,Streaming subscription,mahikaXXXXX@XXXXXXX.com
156301,4a5f1385-1aa7-4f7c-80bd-f4e23b4a64ed,Mason Krishnan,Male,64,Maharashtra,Aurangabad,Aurangabad Branch,Savings,e6906626-b59d-486a-8248-c8d02efbc9ce,11/1/2025,...,Restaurant,33571.23,Mobile Device,"Aurangabad, Maharashtra",POS,1,INR,+9198080XXXXXX,Bank transfer,masonXXXXX@XXXXXX.com
156309,c8118946-436d-4dd8-a797-6140879fb309,Utkarsh Arya,Female,45,Assam,Guwahati,Guwahati Branch,Business,6f08116f-8cfc-47ea-ab39-a1ebd93cae15,28-01-2025,...,Electronics,55478.77,Bank Branch,"Guwahati, Assam",Mobile,1,INR,+9197604XXXXXX,Subscription box,utkarshXXXXX@XXXXXXX.com
156310,c07d0f8b-853f-411d-a7f7-acf85f70f314,Yachana Bhandari,Female,41,Chandigarh,Chandigarh,Chandigarh Branch,Checking,1ad3bfe1-a403-4f1d-a34b-2701dc4d0b1c,18-01-2025,...,Groceries,63110.93,Web Browser,"Chandigarh, Chandigarh",Mobile,1,INR,+9196518XXXXXX,Streaming service,yachanaXXXX@XXXXXXX.com

In [180]:
fraud_df.nunique()

Customer_ID                7911
Customer_Name              7793
Gender                        2
Age                          53
State                        34
City                        145
Bank_Branch                 145
Account_Type                  3
Transaction_ID             7911
Transaction_Date             30
Transaction_Time           7552
Transaction_Amount         7907
Merchant_ID                7911
Transaction_Type              5
Merchant_Category             6
Account_Balance            7907
Transaction_Device           20
Transaction_Location        148
Device_Type                   4
Is_Fraud                      1
Transaction_Currency          1
Customer_Contact           5268
Transaction_Description     172
Customer_Email             3847
dtype: int64

In [48]:
dir(fraud_df)

['Account_Balance',
 'Account_Type',
 'Age',
 'Bank_Branch',
 'City',
 'Customer_Contact',
 'Customer_Email',
 'Customer_ID',
 'Customer_Name',
 'Device_Type',
 'Gender',
 'Is_Fraud',
 'Merchant_Category',
 'Merchant_ID',
 'State',
 'T',
 'Transaction_Amount',
 'Transaction_Currency',
 'Transaction_Date',
 'Transaction_Description',
 'Transaction_Device',
 'Transaction_ID',
 'Transaction_Location',
 'Transaction_Time',
 'Transaction_Type',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_priority__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_box_col_values',
 '_box_item_values',
 '_builtin_table',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_combine_const',
 '_combine_frame',
 '_combine_match_columns',
 '_combine_match_index',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_create_indexer',
 '_cython_table',
 '_data',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_from_arrays',
 '_from_axes',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_space_character_free_column_resolvers',
 '_get_value',
 '_get_values',
 '_getitem_bool_array',
 '_getitem_frame',
 '_getitem_multilevel',
 '_gotitem',
 '_iget_item_cache',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_internal_get_values',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_cython_func',
 '_is_datelike_mixed_type',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_join_compat',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_setup_axes',
 '_shallow_copy',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_frame_compat',
 '_unpickle_matrix_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'as_matrix',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'axes',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'clip_lower',
 'clip_upper',
 'columns',
 'combine',
 'combine_first',
 'compound',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_values',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'sparse',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_msgpack',
 'to_numpy',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sparse',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'values',
 'var',
 'where',
 'xs']

In [191]:
def quanQual(dataset):
    quan=[]
    qual=[]
    for columnName in dataset.columns:
        #print(columnName)
        if(dataset[columnName].dtype=='O'):
            #print("qual")
            qual.append(columnName)
        else:
            #print("quan")
            quan.append(columnName)
    return quan,qual

In [192]:
quan,qual=quanQual(bank_fraud_df)

In [193]:
quan

['Age', 'Transaction_Amount', 'Account_Balance', 'Is_Fraud']

In [194]:
qual

['Customer_ID',
 'Customer_Name',
 'Gender',
 'State',
 'City',
 'Bank_Branch',
 'Account_Type',
 'Transaction_ID',
 'Transaction_Date',
 'Transaction_Time',
 'Merchant_ID',
 'Transaction_Type',
 'Merchant_Category',
 'Transaction_Device',
 'Transaction_Location',
 'Device_Type',
 'Transaction_Currency',
 'Customer_Contact',
 'Transaction_Description',
 'Customer_Email']

In [209]:
descriptive_all_data=pd.DataFrame(index=["Mean","Median","Mode","Min","25%","50%","75%","100%","IQR",
                               "1.5IQR","LesserRange","GreaterRange"],columns=quan)
for columnName in quan:
    descriptive_all_data[columnName]["Mean"]=bank_fraud_df[columnName].mean()
    descriptive_all_data[columnName]["Median"]=bank_fraud_df[columnName].median()
    descriptive_all_data[columnName]["Mode"]=bank_fraud_df[columnName].mode()[0]
    descriptive_all_data[columnName]["Min"]=bank_fraud_df[columnName].min()
    descriptive_all_data[columnName]["25%"]=bank_fraud_df.describe()[columnName]["25%"]
    descriptive_all_data[columnName]["50%"]=bank_fraud_df.describe()[columnName]["50%"]
    descriptive_all_data[columnName]["75%"]=bank_fraud_df.describe()[columnName]["75%"]
    descriptive_all_data[columnName]["100%"]=bank_fraud_df.describe()[columnName]["max"]
    descriptive_all_data[columnName]["IQR"]=descriptive_all_data[columnName]["75%"]-descriptive_all_data[columnName]["25%"]
    descriptive_all_data[columnName]["1.5IQR"]=1.5*descriptive_all_data[columnName]["IQR"]
    descriptive_all_data[columnName]["LesserRange"]=descriptive_all_data[columnName]["25%"]- descriptive_all_data[columnName]["1.5IQR"]
    descriptive_all_data[columnName]["GreaterRange"]=descriptive_all_data[columnName]["75%"]+ descriptive_all_data[columnName]["1.5IQR"]

In [210]:
descriptive_all_data

                  Age Transaction_Amount Account_Balance  Is_Fraud
Mean          43.9881            49552.3         52475.7  0.050599
Median             44            49479.3         52416.7         0
Mode               32              19882         10338.4         0
Min                18              10.29         5000.82         0
25%                31            24925.2         28769.4         0
50%                44            49479.3         52416.7         0
75%                57            74248.9         76207.5         0
100%               70              99000         99999.9         1
IQR                26            49323.7         47438.1         0
1.5IQR             39            73985.6         71157.2         0
LesserRange        -8           -49060.3        -42387.8         0
GreaterRange       96             148235          147365         0

In [211]:
# columns  wull  display the  column header
descriptive_all_data.columns

Index(['Age', 'Transaction_Amount', 'Account_Balance', 'Is_Fraud'], dtype='object')

In [212]:
#Load  the column value to the independent variable (input data)
independent=bank_fraud_df[['Transaction_Amount', 'Account_Balance']]

In [214]:
#Load  the column value to the dependent variable (output data)
dependent=bank_fraud_df[['Is_Fraud']]

In [215]:
#Scikit-learn is an open-source machine learning library.It is a powerful tool for classification, regression, clustering, and dimensionality reduction.
#Split split the data into Training Data set  and Test Data Set
#X - Input, y -Output
#Load  the  function  from the sklearn library (SKLEARN provide the library for Machine Language)
#test_size is set to 0.50 %
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30, random_state=0)

In [216]:
# Model Creation using Lienar Regression  (Numerical Output)
# Key concept in model creation is comeup with Good value for  Weight and  bais.
# Load LinearyRegression class to the variable regressor 
# The following  first two lines  are procedure
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
# Executing the Fit function  using the training  data set (Model created)- Weight and  Bias is calculated
regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [217]:
# Find the weight calculated using the  training  data
# m=slope=dy/dx=weight(Which says about the constant distance between two data points)
#.coef  returns the value for weight
weight=regressor.coef_
weight

array([[-3.66320975e-08,  1.06794196e-08]])

In [218]:
# Find the bais  calculated using the  training data
# c=bias=intercpet=stating of the strait line=initial value= minimum value
# intercept  returns  the bias
bais=regressor.intercept_
bais

array([0.05174695])

In [220]:
# Find the prediction  for the input value X_test
y_pred=regressor.predict(X_test)

In [221]:
# Evaluvate the test output (actual) against prediction  to validate the model
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [222]:
#r_score  value is  closer to  number 1  then it indicates the model is  good  model
r_score

-3.9961771797214496e-05